[Unit]
Description=FIDO support for Linux systems with TPM
After=graphical-session.target

[Service]
ExecStart=/opt/tpm-fido/bin/tpm-fido
Restart=on-failure

[Install]
WantedBy=default.target
